### BEGIN .ebextensions/logs.config
files:
  "/etc/awslogs/config/stdout.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      [docker-stdout]
      log_group_name=/aws/elasticbeanstalk/StreamingTest-env/docker-stdout
      log_stream_name={instance_id}
      file=/var/log/containers/nginx-*-stdouterr.log

commands:
  "00_restart_awslogs":
    command: service awslogs restart

### END .ebextensions/logs.config