@media (min-width: 992px) {
  .custom-col-md-12 {
    float: left;
  }
  .custom-col-md-12 {
    width: 100%;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

.col-xs-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-pull-12 {
    right: 100%;
  }
  .col-sm-pull-11 {
    right: 91.66666667%;
  }
  .col-sm-pull-10 {
    right: 83.33333333%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-pull-8 {
    right: 66.66666667%;
  }
  .col-sm-pull-7 {
    right: 58.33333333%;
  }
  .col-sm-pull-6 {
    right: 50%;
  }
  .col-sm-pull-5 {
    right: 41.66666667%;
  }
  .col-sm-pull-4 {
    right: 33.33333333%;
  }
  .col-sm-pull-3 {
    right: 25%;
  }
  .col-sm-pull-2 {
    right: 16.66666667%;
  }
  .col-sm-pull-1 {
    right: 8.33333333%;
  }
  .col-sm-pull-0 {
    right: auto;
  }
  .col-sm-push-12 {
    left: 100%;
  }
  .col-sm-push-11 {
    left: 91.66666667%;
  }
  .col-sm-push-10 {
    left: 83.33333333%;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-push-8 {
    left: 66.66666667%;
  }
  .col-sm-push-7 {
    left: 58.33333333%;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-push-5 {
    left: 41.66666667%;
  }
  .col-sm-push-4 {
    left: 33.33333333%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-push-2 {
    left: 16.66666667%;
  }
  .col-sm-push-1 {
    left: 8.33333333%;
  }
  .col-sm-push-0 {
    left: auto;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-sm-offset-0 {
    margin-left: 0;
  }
}
@media (min-width: 992px) {
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
  .col-md-pull-12 {
    right: 100%;
  }
  .col-md-pull-11 {
    right: 91.66666667%;
  }
  .col-md-pull-10 {
    right: 83.33333333%;
  }
  .col-md-pull-9 {
    right: 75%;
  }
  .col-md-pull-8 {
    right: 66.66666667%;
  }
  .col-md-pull-7 {
    right: 58.33333333%;
  }
  .col-md-pull-6 {
    right: 50%;
  }
  .col-md-pull-5 {
    right: 41.66666667%;
  }
  .col-md-pull-4 {
    right: 33.33333333%;
  }
  .col-md-pull-3 {
    right: 25%;
  }
  .col-md-pull-2 {
    right: 16.66666667%;
  }
  .col-md-pull-1 {
    right: 8.33333333%;
  }
  .col-md-pull-0 {
    right: auto;
  }
  .col-md-push-12 {
    left: 100%;
  }
  .col-md-push-11 {
    left: 91.66666667%;
  }
  .col-md-push-10 {
    left: 83.33333333%;
  }
  .col-md-push-9 {
    left: 75%;
  }
  .col-md-push-8 {
    left: 66.66666667%;
  }
  .col-md-push-7 {
    left: 58.33333333%;
  }
  .col-md-push-6 {
    left: 50%;
  }
  .col-md-push-5 {
    left: 41.66666667%;
  }
  .col-md-push-4 {
    left: 33.33333333%;
  }
  .col-md-push-3 {
    left: 25%;
  }
  .col-md-push-2 {
    left: 16.66666667%;
  }
  .col-md-push-1 {
    left: 8.33333333%;
  }
  .col-md-push-0 {
    left: auto;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-md-offset-0 {
    margin-left: 0;
  }
}
@media (min-width: 1200px) {
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
  .col-lg-pull-12 {
    right: 100%;
  }
  .col-lg-pull-11 {
    right: 91.66666667%;
  }
  .col-lg-pull-10 {
    right: 83.33333333%;
  }
  .col-lg-pull-9 {
    right: 75%;
  }
  .col-lg-pull-8 {
    right: 66.66666667%;
  }
  .col-lg-pull-7 {
    right: 58.33333333%;
  }
  .col-lg-pull-6 {
    right: 50%;
  }
  .col-lg-pull-5 {
    right: 41.66666667%;
  }
  .col-lg-pull-4 {
    right: 33.33333333%;
  }
  .col-lg-pull-3 {
    right: 25%;
  }
  .col-lg-pull-2 {
    right: 16.66666667%;
  }
  .col-lg-pull-1 {
    right: 8.33333333%;
  }
  .col-lg-pull-0 {
    right: auto;
  }
  .col-lg-push-12 {
    left: 100%;
  }
  .col-lg-push-11 {
    left: 91.66666667%;
  }
  .col-lg-push-10 {
    left: 83.33333333%;
  }
  .col-lg-push-9 {
    left: 75%;
  }
  .col-lg-push-8 {
    left: 66.66666667%;
  }
  .col-lg-push-7 {
    left: 58.33333333%;
  }
  .col-lg-push-6 {
    left: 50%;
  }
  .col-lg-push-5 {
    left: 41.66666667%;
  }
  .col-lg-push-4 {
    left: 33.33333333%;
  }
  .col-lg-push-3 {
    left: 25%;
  }
  .col-lg-push-2 {
    left: 16.66666667%;
  }
  .col-lg-push-1 {
    left: 8.33333333%;
  }
  .col-lg-push-0 {
    left: auto;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-lg-offset-0 {
    margin-left: 0;
  }
}
table {
  background-color: transparent;
}
caption {
  padding-top: 8px;
  padding-bottom: 8px;
  color: #777;
  text-align: left;
}
th {
  text-align: left;
}
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
}
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
  border-top: 0;
}
.table > tbody + tbody {
  border-top: 2px solid #ddd;
}
.table .table {
  background-color: #fff;
}
.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
  padding: 5px;
}
.table-bordered {
  border: 1px solid #ddd;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid #ddd;
}
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  border-bottom-width: 2px;
}
.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}
.table-hover > tbody > tr:hover {
  background-color: #f5f5f5;
}
table col[class*="col-"] {
  position: static;
  float: none;
  display: table-column;
}
table td[class*="col-"],
table th[class*="col-"] {
  position: static;
  float: none;
  display: table-cell;
}

.menu-item {
  padding: 0 40px;
  margin: 5px 10px;
  user-select: none;
  cursor: pointer;
  border: none;
}
.menu-item-wrapper.active {
  border: 1px blue solid;
}
.menu-item.active {
  border: 1px green solid;
}

.scroll-menu-arrow {
  padding: 20px;
  cursor: pointer;
}

.sas {
  overflow: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* .navbar {
  border-bottom: solid 1px #ebebeb;
} */
/* .bottom-tab-nav {
  border-top: solid 1px #ebebeb;
} */
.nav-link,
.bottom-nav-link {
  color: #55575b;
}
.bottom-nav-link.active {
  color: #922c88;
}
/* .bottom-tab-label {
  font-size: 12px;
} */

/* .middle {
  bottom: 18px;
  width: 60px;
  height: 60;
  border-radius: 30;
  background-color: "red";
} */

.bottom-nav {
  background: #fff;
  /* width: 48rem; */
  /* height: 12rem; */
  border-radius: 0 0 3rem 3rem;
  box-shadow: 0 0.4rem 1rem 0 rgba(55, 55, 55, 0.2);
  /* padding: 1rem; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
.bottom-nav input {
  display: none;
}
.bottom-nav label {
  cursor: pointer;
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0f62df;
  z-index: 200;
  position: relative;
}
.bottom-nav label::before {
  content: "";
  position: absolute;
  /* width: 7rem;
  height: 7rem; */
  border-radius: 50%;
  transform: scale(0);
  transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.bottom-nav ion-icon {
  font-size: 3.5rem;
  color: inherit;
}
.bottom-nav input:checked + .home {
  color: #ff90b5;
}
.bottom-nav input:checked + .home > ion-icon:first-child {
  opacity: 0;
}
.bottom-nav input:checked + .home::before {
  background: #ffdfea;
  transform: scale(1);
}
.bottom-nav input:checked + .cart {
  color: "black";
}
.bottom-nav input:checked + .cart > ion-icon:first-child {
  opacity: 0;
}
.bottom-nav input:checked + .cart::hover {
  /* background: #d9bcee; */
  transform: rotate(360deg);
}
.bottom-nav input:checked + .fav {
  color: #00d1c7;
}
.bottom-nav input:checked + .fav > ion-icon:first-child {
  opacity: 0;
}
.bottom-nav input:checked + .fav::before {
  background: #c3eeec;
  transform: scale(1);
}
.bottom-nav input:checked + .profile {
  color: #ffc460;
}
.bottom-nav input:checked + .profile > ion-icon:first-child {
  opacity: 0;
}
.bottom-nav input:checked + .profile::before {
  background: #ffebc7;
  transform: scale(1);
}
.bottom-nav input:checked + label .fill {
  transform: scale(1);
  opacity: 1;
}
.fill {
  position: absolute;
  left: 0.8rem;
  transform: scale(0);
  opacity: 0;
  transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.cf:before,
.cf:after {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.cf {
  zoom: 1;
}
#content {
  max-width: 650px;
  margin: 3rem auto;
  text-align: center;
}
#featured_img img,
#thumb_img img {
  max-width: 100%;
}
#thumb_img {
  margin-top: 2%;
}
#thumb_img img {
  float: left;
  max-width: 32%;
  width: 32%;
  cursor: pointer;
  margin-right: 2%;
  border: 2px solid #eee;
  box-sizing: border-box;
}
#thumb_img img.active {
  border: 2px solid #cac6b8;
}
#thumb_img img:last-child {
  margin-right: 0;
}
/* 
.current-1 {
  color: "red";
  font-weight: "bold";
} */

.feature-heading {
  display: flex;
  justify-content: center;
  align-items: center;
}
.feature-heading h2 {
  font-size: 1.2rem;
  letter-spacing: 1px;
  color: #1b1919;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 40px;
  padding: 5px 30px;
  border: 1px solid #e0e0e0;
}
.feature-box {
  width: 155px;
  height: 160px;
  margin: 0px 20px;
  border-radius: 10px;
  overflow: hidden;
}
.feature-box a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.item span {
  font-size: 1rem;
  font-weight: 600;
  margin: 5px;
  color: #444444;
}
.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* #autoWidth{
  display: flex;
  justify-content: center !important;
  margin: 10px auto 40px auto;
} */

.modal-body {
  max-height: calc(100vh - 210px);
  overflow-y: auto;
}
.modal-open {
  overflow: hidden;
  overflow-y: scroll;
  padding-right: 0 !important;
}

.bottom-nav-icon:hover {
  transform: rotate(360deg);
}

/* details pagfe */

.cart {
  background: #fff;
  padding: 50px;
  border-radius: 20px;
  margin: 27px 50px;
  box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.1);
}
.row1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#ProductImg {
  margin-bottom: 25px;
  transition: 0.4s;
}
.black,
.red,
.white,
.yellow {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
  border: 1px solid transparent;
}
.black:hover {
  border: 1px solid #000;
}
.black::before {
  content: "";
  background: #000;
  width: 19px;
  height: 19px;
  display: block;
  border-radius: 50%;
  position: relative;
  top: 2px;
  left: 2px;
}
.red:hover {
  border: 1px solid #ff0000;
}
.red::before {
  content: "";
  background: #ff0000;
  width: 19px;
  height: 19px;
  display: block;
  border-radius: 50%;
  position: relative;
  top: 2px;
  left: 2px;
}
.white:hover {
  border: 1px solid #fff;
}
.white::before {
  content: "";
  background: #fff;
  width: 19px;
  height: 19px;
  display: block;
  border-radius: 50%;
  position: relative;
  top: 2px;
  left: 2px;
}
.yellow:hover {
  border: 1px solid #ffff00;
}
.yellow::before {
  content: "";
  background: #ffff00;
  width: 19px;
  height: 19px;
  display: block;
  border-radius: 50%;
  position: relative;
  top: 2px;
  left: 2px;
}

.colors {
  display: flex;
  background: rgb(55, 55, 55);
  padding: 5px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}
.price {
  margin-bottom: 15px;
}
.price span:first-child {
  font-size: 30px;
  font-weight: 700;
  margin-right: 10px;
}
.price span:last-child {
  color: rgb(117, 117, 117);
  text-decoration: line-through;
  font-size: 19px;
}
.reviews {
  display: flex;
  margin: 16px 0;
}
.reviews p {
  font-size: 15px;
  color: #777;
  margin: 0;
  margin-left: 8px;
  line-height: 19px;
}
.reviews i {
  color: #000;
}
.product-title {
  font-size: 35px;
  font-weight: 700;
  font-style: italic;
  color: #000;
}
.product-inf {
  margin-top: 20px;
}
.product-inf ul {
  display: flex;
  list-style: none;
}
.product-inf ul li:first-child {
  margin-right: 15px;
}
.product-inf ul li {
  padding: 10px 30px;
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
}
.product-inf ul li:hover {
  border-radius: 5px;
  background: #eee;
}
.product-inf ul li a {
  color: #000;
  font-size: 18px;
  font-weight: 500;
}
.product-inf ul li a:hover {
  text-decoration: none;
}
.product-inf ul li.active {
  border-bottom: 3px solid #000;
  background: #eee;
  transition: 0.3s;
}
#Details {
  display: none;
}

.custom-btn {
  background: #000;
  color: #fff;
  display: block;
  width: 200px;
  text-align: center;
  font-size: 16px;
  border-radius: 25px;
  padding: 10px;
  transition: 0.3s;
  font-weight: 500;
  margin-top: 20px;
}
.custom-btn:hover {
  text-decoration: none;
  color: #fff;
  opacity: 0.88;
}

.buttons .row .col-md-6 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.small-imgs {
  display: flex;
}
.small-img {
  margin: 0 5px;
  cursor: pointer;
  width: 22%;
}

.custom-btn i {
  margin-left: 15px;
}

.size,
.quantity {
  cursor: pointer;
}
.size:focus,
.quantity:focus {
  border-color: #919191 !important;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.25) !important;
}

@media only screen and (max-width: 390px) {
  .cart {
    padding: 15px;
  }
}

/* xxxx details page */
.input {
  width: 30px;
  height: 50px;
  border: none;
  line-height: 50px;
  text-align: center;
  font-size: 40px;
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  color: white;
  margin: 0 2px;
}

@import url("https://fonts.googleapis.com/css?family=Open+Sans:300");
@import url("https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");

input[data-function*="swipe"] {
  position: absolute;
  opacity: 0;
}
label[data-function*="swipe"] {
  position: absolute;
  top: 30px;
  left: 30px;
  z-index: 1;
  display: block;
  width: 42px;
  height: 42px;
  font: 42px/42px fontawesome;
  text-align: center;
  color: #444;
  cursor: pointer;
  transform: translate3d(0, 0, 0);
  transition: transform 0.3s;
}
input[data-function*="swipe"]:checked ~ label[data-function*="swipe"] {
  transform: translate3d(260px, 0, 0);
}

input[data-function*="swipe"]:checked ~ .content {
  transform: translate3d(260px, 0px, 0px);
}
input[data-function*="swipe"]:checked ~ .sidebar {
  transform: translate3d(0px, 0px, 0px);
}
input[data-function*="swipe"]:checked ~ .sidebar .menu li {
  width: 100%;
}
.sidebar {
  transform: translate3d(-260px, 0px, 0px);
  position: absolute;
  width: 260px;
  background: #112e66;
  color: #eee;
  left: 0;
  height: 100%;
  transition: all 0.3s;
}
.menu1 li {
  padding: 10px;
  list-style: none;
  width: 0%;
  background: #17609f;
}
.menu1 li.active {
  background: #112e66;
}
.menu1 li a {
  color: #fff;
  border-bottom: 1px solid #fff;
  display: block;
  text-decoration: none;
  padding: 5px 0px 5px 0;
  margin: 0 20px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1000000;
  top: 0;
  left: 0;
  background-color: #000;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  overflow: hidden;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left 0.5s;
  padding: 16px;
}
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

.mobile-bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  will-change: transform;
  transform: translateZ(0);
  display: flex;
  height: 50px;
  box-shadow: 0 -2px 5px -2px #333;
  background-color: #fff;
}
.mobile-bottom-nav__item {
  flex-grow: 1;
  text-align: center;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.mobile-bottom-nav__item--active {
  color: red;
}
.mobile-bottom-nav__item-content {
  display: flex;
  flex-direction: column;
}

.search-box {
  left: 30px;
  width: 80%;
  position: relative;
  display: flex;
}
.search-input {
  width: 100%;
  padding: 10px;
  border: 4px solid #111d5e;
  border-radius: 10px 0 0 10px;
  border-right: none;
  outline: none;
  font-size: 20px;
  color: tomato;
  background: none;
}
.search-button {
  text-align: center;
  height: 51px;
  width: 40px;
  outline: none;
  cursor: pointer;
  border: 4px solid #111d5e;
  border-radius: 0 10px 10px 0;
  border-left: none;
  background: none;
  font-size: 20px;
  border-left: 4px solid #111d5e;
}

.mobile-sidebar {
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  top: 30%;
  position: absolute;
  left: 10%;
  width: 70%;
}

.sidebar-items {
  color: #39a6a3;
}

.sidebar-item {
  padding: 10px;
  border: 1px solid white;
}

.sidebar-social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 60px;
  position: absolute;
}

.search-bar-top {
  text-align: center;
  margin-top: 10px;
}

.search-bar-top {
  text-align: center;
  margin-top: 10px;
}
.search-bar {
  margin-top: 33px;

  display: inline-block;
  background: #fff;
  position: relative;
}
.search-bar {
  display: inline-block;
  background: #fff;
  position: relative;
  margin: 0;
  line-height: 45px;
  border-radius: 5px;
  border: 1px solid #ececec;
}

.search-bar form {
  display: inline-block;
  float: left;
}

.search-bar input {
  background: transparent;
  color: #666;
  border-radius: 0;
  border: none;
  font-size: 14px;
  font-weight: 400;
  padding: 0 25px 0 20px;
}

.search-bar .btnn {
  height: 50px;
  line-height: 53px;
  width: 62px;
  text-align: center;
  font-size: 18px;
  color: #fff;
  background: #333333;
  position: absolute;
  right: -2px;
  top: -1px;
  border: none;
  border-radius: 0 5px 5px 0;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.search-bar .btnn:hover {
  color: #fff;
  background: #39a6a3;
}

.hro-slider {
  background: #fff;
  overflow: hidden;
}

.details-page-more-details {
  padding: 10px;
  display: flex;
}

.details-page-more-details p {
  margin-left: 10px;
}

@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;
400;
500;
600;
700&display=swap");
@font-face {
  font-family: "Material Icons Outlined";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialiconsoutlined/v54/gok-H7zzDkdnRel8-DQ6KAXJ69wP1tGnf4ZGhUce.woff2)
    format("woff2");
}
.material-icons-outlined {
  font-family: "Material Icons Outlined";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
}
* {
  box-sizing: border-box;
}
* ::before,
* ::after {
  box-sizing: border-box;
}

@media (max-width: 767px) {
  body {
    align-items: baseline;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  body {
    align-items: baseline;
  }
}

.cart_wrapper {
  display: flex;
  /* max-width: 1200px; */
  width: 100%;
  justify-content: center;
  align-items: center;
  /* max-height: 800px;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  box-shadow: 0 6px 32px rgba(0, 0, 0, 0.4);
  margin: 30px;
  overflow: hidden; */
}
/* @media (min-width: 768px) and (max-width: 1023px) {
  .cart_wrapper {
    max-height: 1000px;
  }
} */
/* @media (max-width: 767px) {
  .cart_wrapper {
    max-height: unset;
    max-width: 100%;
    margin: 15px;
  }
} */
.cart_wrapper .cart_lists {
  background-color: #ecf0f1;
  padding: 30px;
  /* width: calc(100% - 330px); */
  /* flex: 0 0 calc(100% - 330px); */
}
@media (min-width: 768px) and (max-width: 1023px) {
  .cart_wrapper .cart_lists {
    width: 100%;
    flex: 0 0 100%;
  }
}
@media (max-width: 767px) {
  .cart_wrapper .cart_lists {
    width: 100%;
    flex: 0 0 100%;
    padding: 20px;
  }
}
.cart_wrapper .cart_lists .cart_title {
  display: flex;
  align-items: center;
  font-size: 22px;
  font-weight: 400;
  height: 50px;
}
.cart_wrapper .cart_lists .cart_title span {
  margin-right: 8px;
  padding-right: 8px;
  line-height: 18px;
  border-right: solid 2px #ddd;
}
.cart_wrapper .cart_lists .cart_list_wrap {
  padding: 25px 40px;
  overflow: hidden;
}
@media (max-width: 767px) {
  .cart_wrapper .cart_lists .cart_list_wrap {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.cart_wrapper .cart_lists .cart_list_wrap .cart_responsive {
  overflow-x: auto;
  overflow-y: auto;
  max-height: 380px;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .cart_wrapper .cart_lists .cart_list_wrap .cart_responsive {
    max-height: 380px;
  }
}
.cart_wrapper .cart_lists .cart_list_wrap .cart_responsive::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
.cart_wrapper
  .cart_lists
  .cart_list_wrap
  .cart_responsive::-webkit-scrollbar-thumb {
  background-color: #ddd;
}
.cart_wrapper
  .cart_lists
  .cart_list_wrap
  .cart_responsive::-webkit-scrollbar-track {
  background-color: #eee;
}
.cart_wrapper .cart_lists .cart_list_wrap .cart_responsive .tr_item {
  display: grid;
  grid-template-columns: 80px 3fr 1fr 1fr 120px 50px;
  margin-bottom: 15px;
  transition: all 0.3s linear;
  position: relative;
  transform: scale(0.995);
}
.cart_wrapper
  .cart_lists
  .cart_list_wrap
  .cart_responsive
  .tr_item:nth-last-child(1) {
  animation: listshow linear;
  animation-duration: 820ms;
  transform-origin: top;
}
@keyframes listshow {
  0% {
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
  }
  50% {
    transform: scaleY(0);
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}
.cart_wrapper
  .cart_lists
  .cart_list_wrap
  .cart_responsive
  .tr_item:nth-last-child(2) {
  animation: listshow linear;
  animation-duration: 640ms;
  transform-origin: top;
}
@keyframes listshow {
  0% {
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
  }
  50% {
    transform: scaleY(0);
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}
.cart_wrapper
  .cart_lists
  .cart_list_wrap
  .cart_responsive
  .tr_item:nth-last-child(3) {
  animation: listshow linear;
  animation-duration: 460ms;
  transform-origin: top;
}
@keyframes listshow {
  0% {
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
  }
  50% {
    transform: scaleY(0);
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}
.cart_wrapper
  .cart_lists
  .cart_list_wrap
  .cart_responsive
  .tr_item:nth-last-child(4) {
  animation: listshow linear;
  animation-duration: 280ms;
  transform-origin: top;
}
@keyframes listshow {
  0% {
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
  }
  50% {
    transform: scaleY(0);
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}
.cart_wrapper
  .cart_lists
  .cart_list_wrap
  .cart_responsive
  .tr_item:nth-last-child(5) {
  animation: listshow linear;
  animation-duration: 100ms;
  transform-origin: top;
}
@keyframes listshow {
  0% {
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
  }
  50% {
    transform: scaleY(0);
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}
.cart_wrapper
  .cart_lists
  .cart_list_wrap
  .cart_responsive
  .tr_item:nth-last-child(6) {
  animation: listshow linear;
  animation-duration: -80ms;
  transform-origin: top;
}
@keyframes listshow {
  0% {
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
  }
  50% {
    transform: scaleY(0);
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}
.cart_wrapper
  .cart_lists
  .cart_list_wrap
  .cart_responsive
  .tr_item:nth-last-child(7) {
  animation: listshow linear;
  animation-duration: -260ms;
  transform-origin: top;
}
@keyframes listshow {
  0% {
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
  }
  50% {
    transform: scaleY(0);
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}
.cart_wrapper
  .cart_lists
  .cart_list_wrap
  .cart_responsive
  .tr_item:nth-last-child(8) {
  animation: listshow linear;
  animation-duration: -440ms;
  transform-origin: top;
}
@keyframes listshow {
  0% {
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
  }
  50% {
    transform: scaleY(0);
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}
.cart_wrapper
  .cart_lists
  .cart_list_wrap
  .cart_responsive
  .tr_item:nth-last-child(9) {
  animation: listshow linear;
  animation-duration: -620ms;
  transform-origin: top;
}
@keyframes listshow {
  0% {
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
  }
  50% {
    transform: scaleY(0);
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}
.cart_wrapper
  .cart_lists
  .cart_list_wrap
  .cart_responsive
  .tr_item:nth-last-child(10) {
  animation: listshow linear;
  animation-duration: -800ms;
  transform-origin: top;
}
@keyframes listshow {
  0% {
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
  }
  50% {
    transform: scaleY(0);
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}
.cart_wrapper
  .cart_lists
  .cart_list_wrap
  .cart_responsive
  .tr_item:nth-last-child(11) {
  animation: listshow linear;
  animation-duration: -980ms;
  transform-origin: top;
}
@keyframes listshow {
  0% {
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
  }
  50% {
    transform: scaleY(0);
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}
.cart_wrapper
  .cart_lists
  .cart_list_wrap
  .cart_responsive
  .tr_item:nth-last-child(12) {
  animation: listshow linear;
  animation-duration: -1160ms;
  transform-origin: top;
}
@keyframes listshow {
  0% {
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
  }
  50% {
    transform: scaleY(0);
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}
.cart_wrapper
  .cart_lists
  .cart_list_wrap
  .cart_responsive
  .tr_item:nth-last-child(13) {
  animation: listshow linear;
  animation-duration: -1340ms;
  transform-origin: top;
}
@keyframes listshow {
  0% {
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
  }
  50% {
    transform: scaleY(0);
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}
.cart_wrapper
  .cart_lists
  .cart_list_wrap
  .cart_responsive
  .tr_item:nth-last-child(14) {
  animation: listshow linear;
  animation-duration: -1520ms;
  transform-origin: top;
}
@keyframes listshow {
  0% {
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
  }
  50% {
    transform: scaleY(0);
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}
.cart_wrapper
  .cart_lists
  .cart_list_wrap
  .cart_responsive
  .tr_item:nth-last-child(15) {
  animation: listshow linear;
  animation-duration: -1700ms;
  transform-origin: top;
}
@keyframes listshow {
  0% {
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
  }
  50% {
    transform: scaleY(0);
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}
.cart_wrapper
  .cart_lists
  .cart_list_wrap
  .cart_responsive
  .tr_item:nth-last-child(16) {
  animation: listshow linear;
  animation-duration: -1880ms;
  transform-origin: top;
}
@keyframes listshow {
  0% {
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
  }
  50% {
    transform: scaleY(0);
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}
.cart_wrapper
  .cart_lists
  .cart_list_wrap
  .cart_responsive
  .tr_item:nth-last-child(17) {
  animation: listshow linear;
  animation-duration: -2060ms;
  transform-origin: top;
}
@keyframes listshow {
  0% {
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
  }
  50% {
    transform: scaleY(0);
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}
.cart_wrapper
  .cart_lists
  .cart_list_wrap
  .cart_responsive
  .tr_item:nth-last-child(18) {
  animation: listshow linear;
  animation-duration: -2240ms;
  transform-origin: top;
}
@keyframes listshow {
  0% {
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
  }
  50% {
    transform: scaleY(0);
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}
.cart_wrapper
  .cart_lists
  .cart_list_wrap
  .cart_responsive
  .tr_item:nth-last-child(19) {
  animation: listshow linear;
  animation-duration: -2420ms;
  transform-origin: top;
}
@keyframes listshow {
  0% {
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
  }
  50% {
    transform: scaleY(0);
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}
.cart_wrapper
  .cart_lists
  .cart_list_wrap
  .cart_responsive
  .tr_item:nth-last-child(20) {
  animation: listshow linear;
  animation-duration: -2600ms;
  transform-origin: top;
}
@keyframes listshow {
  0% {
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
  }
  50% {
    transform: scaleY(0);
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}
.cart_wrapper
  .cart_lists
  .cart_list_wrap
  .cart_responsive
  .tr_item:nth-last-child(21) {
  animation: listshow linear;
  animation-duration: -2780ms;
  transform-origin: top;
}
@keyframes listshow {
  0% {
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
  }
  50% {
    transform: scaleY(0);
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}
.cart_wrapper
  .cart_lists
  .cart_list_wrap
  .cart_responsive
  .tr_item:nth-last-child(22) {
  animation: listshow linear;
  animation-duration: -2960ms;
  transform-origin: top;
}
@keyframes listshow {
  0% {
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
  }
  50% {
    transform: scaleY(0);
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}
.cart_wrapper
  .cart_lists
  .cart_list_wrap
  .cart_responsive
  .tr_item:nth-last-child(23) {
  animation: listshow linear;
  animation-duration: -3140ms;
  transform-origin: top;
}
@keyframes listshow {
  0% {
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
  }
  50% {
    transform: scaleY(0);
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}
.cart_wrapper
  .cart_lists
  .cart_list_wrap
  .cart_responsive
  .tr_item:nth-last-child(24) {
  animation: listshow linear;
  animation-duration: -3320ms;
  transform-origin: top;
}
@keyframes listshow {
  0% {
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
  }
  50% {
    transform: scaleY(0);
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}
.cart_wrapper
  .cart_lists
  .cart_list_wrap
  .cart_responsive
  .tr_item:nth-last-child(25) {
  animation: listshow linear;
  animation-duration: -3500ms;
  transform-origin: top;
}
@keyframes listshow {
  0% {
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
  }
  50% {
    transform: scaleY(0);
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}
.cart_wrapper
  .cart_lists
  .cart_list_wrap
  .cart_responsive
  .tr_item:nth-last-child(26) {
  animation: listshow linear;
  animation-duration: -3680ms;
  transform-origin: top;
}
@keyframes listshow {
  0% {
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
  }
  50% {
    transform: scaleY(0);
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}
.cart_wrapper
  .cart_lists
  .cart_list_wrap
  .cart_responsive
  .tr_item:nth-last-child(27) {
  animation: listshow linear;
  animation-duration: -3860ms;
  transform-origin: top;
}
@keyframes listshow {
  0% {
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
  }
  50% {
    transform: scaleY(0);
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}
.cart_wrapper
  .cart_lists
  .cart_list_wrap
  .cart_responsive
  .tr_item:nth-last-child(28) {
  animation: listshow linear;
  animation-duration: -4040ms;
  transform-origin: top;
}
@keyframes listshow {
  0% {
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
  }
  50% {
    transform: scaleY(0);
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}
.cart_wrapper
  .cart_lists
  .cart_list_wrap
  .cart_responsive
  .tr_item:nth-last-child(29) {
  animation: listshow linear;
  animation-duration: -4220ms;
  transform-origin: top;
}
@keyframes listshow {
  0% {
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
  }
  50% {
    transform: scaleY(0);
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}
.cart_wrapper
  .cart_lists
  .cart_list_wrap
  .cart_responsive
  .tr_item:nth-last-child(30) {
  animation: listshow linear;
  animation-duration: -4400ms;
  transform-origin: top;
}
@keyframes listshow {
  0% {
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
  }
  50% {
    transform: scaleY(0);
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}
.cart_wrapper
  .cart_lists
  .cart_list_wrap
  .cart_responsive
  .tr_item:nth-last-child(31) {
  animation: listshow linear;
  animation-duration: -4580ms;
  transform-origin: top;
}
@keyframes listshow {
  0% {
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
  }
  50% {
    transform: scaleY(0);
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}
.cart_wrapper
  .cart_lists
  .cart_list_wrap
  .cart_responsive
  .tr_item:nth-last-child(32) {
  animation: listshow linear;
  animation-duration: -4760ms;
  transform-origin: top;
}
@keyframes listshow {
  0% {
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
  }
  50% {
    transform: scaleY(0);
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}
.cart_wrapper
  .cart_lists
  .cart_list_wrap
  .cart_responsive
  .tr_item:nth-last-child(33) {
  animation: listshow linear;
  animation-duration: -4940ms;
  transform-origin: top;
}
@keyframes listshow {
  0% {
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
  }
  50% {
    transform: scaleY(0);
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}
.cart_wrapper
  .cart_lists
  .cart_list_wrap
  .cart_responsive
  .tr_item:nth-last-child(34) {
  animation: listshow linear;
  animation-duration: -5120ms;
  transform-origin: top;
}
@keyframes listshow {
  0% {
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
  }
  50% {
    transform: scaleY(0);
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}
.cart_wrapper
  .cart_lists
  .cart_list_wrap
  .cart_responsive
  .tr_item:nth-last-child(35) {
  animation: listshow linear;
  animation-duration: -5300ms;
  transform-origin: top;
}
@keyframes listshow {
  0% {
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
  }
  50% {
    transform: scaleY(0);
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}
.cart_wrapper
  .cart_lists
  .cart_list_wrap
  .cart_responsive
  .tr_item:nth-last-child(36) {
  animation: listshow linear;
  animation-duration: -5480ms;
  transform-origin: top;
}
@keyframes listshow {
  0% {
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
  }
  50% {
    transform: scaleY(0);
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}
.cart_wrapper
  .cart_lists
  .cart_list_wrap
  .cart_responsive
  .tr_item:nth-last-child(37) {
  animation: listshow linear;
  animation-duration: -5660ms;
  transform-origin: top;
}
@keyframes listshow {
  0% {
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
  }
  50% {
    transform: scaleY(0);
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}
.cart_wrapper
  .cart_lists
  .cart_list_wrap
  .cart_responsive
  .tr_item:nth-last-child(38) {
  animation: listshow linear;
  animation-duration: -5840ms;
  transform-origin: top;
}
@keyframes listshow {
  0% {
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
  }
  50% {
    transform: scaleY(0);
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}
.cart_wrapper
  .cart_lists
  .cart_list_wrap
  .cart_responsive
  .tr_item:nth-last-child(39) {
  animation: listshow linear;
  animation-duration: -6020ms;
  transform-origin: top;
}
@keyframes listshow {
  0% {
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
  }
  50% {
    transform: scaleY(0);
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}
.cart_wrapper
  .cart_lists
  .cart_list_wrap
  .cart_responsive
  .tr_item:nth-last-child(40) {
  animation: listshow linear;
  animation-duration: -6200ms;
  transform-origin: top;
}
@keyframes listshow {
  0% {
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
  }
  50% {
    transform: scaleY(0);
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}
.cart_wrapper
  .cart_lists
  .cart_list_wrap
  .cart_responsive
  .tr_item:nth-last-child(41) {
  animation: listshow linear;
  animation-duration: -6380ms;
  transform-origin: top;
}
@keyframes listshow {
  0% {
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
  }
  50% {
    transform: scaleY(0);
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}
.cart_wrapper
  .cart_lists
  .cart_list_wrap
  .cart_responsive
  .tr_item:nth-last-child(42) {
  animation: listshow linear;
  animation-duration: -6560ms;
  transform-origin: top;
}
@keyframes listshow {
  0% {
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
  }
  50% {
    transform: scaleY(0);
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}
.cart_wrapper
  .cart_lists
  .cart_list_wrap
  .cart_responsive
  .tr_item:nth-last-child(43) {
  animation: listshow linear;
  animation-duration: -6740ms;
  transform-origin: top;
}
@keyframes listshow {
  0% {
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
  }
  50% {
    transform: scaleY(0);
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}
.cart_wrapper
  .cart_lists
  .cart_list_wrap
  .cart_responsive
  .tr_item:nth-last-child(44) {
  animation: listshow linear;
  animation-duration: -6920ms;
  transform-origin: top;
}
@keyframes listshow {
  0% {
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
  }
  50% {
    transform: scaleY(0);
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}
.cart_wrapper
  .cart_lists
  .cart_list_wrap
  .cart_responsive
  .tr_item:nth-last-child(45) {
  animation: listshow linear;
  animation-duration: -7100ms;
  transform-origin: top;
}
@keyframes listshow {
  0% {
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
  }
  50% {
    transform: scaleY(0);
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}
.cart_wrapper
  .cart_lists
  .cart_list_wrap
  .cart_responsive
  .tr_item:nth-last-child(46) {
  animation: listshow linear;
  animation-duration: -7280ms;
  transform-origin: top;
}
@keyframes listshow {
  0% {
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
  }
  50% {
    transform: scaleY(0);
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}
.cart_wrapper
  .cart_lists
  .cart_list_wrap
  .cart_responsive
  .tr_item:nth-last-child(47) {
  animation: listshow linear;
  animation-duration: -7460ms;
  transform-origin: top;
}
@keyframes listshow {
  0% {
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
  }
  50% {
    transform: scaleY(0);
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}
.cart_wrapper
  .cart_lists
  .cart_list_wrap
  .cart_responsive
  .tr_item:nth-last-child(48) {
  animation: listshow linear;
  animation-duration: -7640ms;
  transform-origin: top;
}
@keyframes listshow {
  0% {
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
  }
  50% {
    transform: scaleY(0);
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}
.cart_wrapper
  .cart_lists
  .cart_list_wrap
  .cart_responsive
  .tr_item:nth-last-child(49) {
  animation: listshow linear;
  animation-duration: -7820ms;
  transform-origin: top;
}
@keyframes listshow {
  0% {
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
  }
  50% {
    transform: scaleY(0);
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}
.cart_wrapper
  .cart_lists
  .cart_list_wrap
  .cart_responsive
  .tr_item:nth-last-child(50) {
  animation: listshow linear;
  animation-duration: -8000ms;
  transform-origin: top;
}
@keyframes listshow {
  0% {
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
  }
  50% {
    transform: scaleY(0);
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}
@media (max-width: 767px) {
  .cart_wrapper .cart_lists .cart_list_wrap .cart_responsive .tr_item {
    grid-template-columns: 80px auto 80px auto;
  }
}
.cart_wrapper .cart_lists .cart_list_wrap .cart_responsive .tr_item::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: 0px;
  height: 2px;
  background-color: #d9d9d9;
  width: 0px;
  margin: auto;
}
@keyframes line {
  0% {
    width: 0px;
  }
  100% {
    width: calc(100% - 50px);
  }
}
.cart_wrapper .cart_lists .cart_list_wrap .cart_responsive .tr_item:hover {
  transform: scale(1);
}
.cart_wrapper
  .cart_lists
  .cart_list_wrap
  .cart_responsive
  .tr_item:hover::after {
  width: calc(100% - 50px);
  animation: line 0.5s linear;
}
.cart_wrapper .cart_lists .cart_list_wrap .cart_responsive .tr_item .td_item {
  padding: 10px;
  background-color: #e5e9ea;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  font-weight: 400;
  font-size: 16px;
  color: #666;
  transition: all 0.3s linear;
}
@media (max-width: 767px) {
  .cart_wrapper .cart_lists .cart_list_wrap .cart_responsive .tr_item .td_item {
    padding: 5px;
  }
}
@media (max-width: 767px) {
  .cart_wrapper
    .cart_lists
    .cart_list_wrap
    .cart_responsive
    .tr_item
    .td_item.item_img {
    grid-row-start: 1;
    grid-row-end: 3;
  }
}
.cart_wrapper
  .cart_lists
  .cart_list_wrap
  .cart_responsive
  .tr_item
  .td_item.item_img
  img {
  height: 60px;
  width: 60px;
  overflow: hidden;
  border-radius: 100px;
  max-width: 100%;
}
@media (max-width: 767px) {
  .cart_wrapper
    .cart_lists
    .cart_list_wrap
    .cart_responsive
    .tr_item
    .td_item.item_name {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 5;
    width: 100%;
  }
}
.cart_wrapper
  .cart_lists
  .cart_list_wrap
  .cart_responsive
  .tr_item
  .td_item.item_name
  .main {
  font-size: 16px;
  font-weight: 400;
  color: #666;
}
.cart_wrapper
  .cart_lists
  .cart_list_wrap
  .cart_responsive
  .tr_item
  .td_item.item_name
  .sub {
  font-size: 12px;
  color: #666;
}
.cart_wrapper
  .cart_lists
  .cart_list_wrap
  .cart_responsive
  .tr_item
  .td_item.item_qty
  select {
  height: 30px;
  background-color: transparent;
  border-color: transparent;
  border-width: 2px;
  outline: none;
  color: #666;
  font-weight: 400;
  font-size: 16px;
  transition: all 0.3s linear;
}
.cart_wrapper
  .cart_lists
  .cart_list_wrap
  .cart_responsive
  .tr_item
  .td_item.item_qty
  select:focus {
  background-color: #e2e2e2;
}
.cart_wrapper
  .cart_lists
  .cart_list_wrap
  .cart_responsive
  .tr_item
  .td_item.item_qty
  select:hover {
  border-bottom: solid 2px #e2e2e2;
}
.cart_wrapper
  .cart_lists
  .cart_list_wrap
  .cart_responsive
  .tr_item
  .td_item.item_price
  label {
  margin: auto;
}
.cart_wrapper
  .cart_lists
  .cart_list_wrap
  .cart_responsive
  .tr_item
  .td_item.item_remove {
  background-color: transparent;
}
@media (max-width: 767px) {
  .cart_wrapper
    .cart_lists
    .cart_list_wrap
    .cart_responsive
    .tr_item
    .td_item.item_remove {
    position: absolute;
    right: 0px;
    top: 0px;
  }
}
.cart_wrapper
  .cart_lists
  .cart_list_wrap
  .cart_responsive
  .tr_item
  .td_item.item_remove
  span {
  font-size: 18px;
  opacity: 0.6;
  padding: 5px;
  cursor: pointer;
  transition: all 0.2s linear;
}
.cart_wrapper
  .cart_lists
  .cart_list_wrap
  .cart_responsive
  .tr_item
  .td_item.item_remove
  span:hover {
  opacity: 1;
  transform: scale(1.1);
}
.cart_wrapper .cart_lists .cart_list_wrap .footer-cart {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px 5px;
}
.cart_wrapper .cart_lists .cart_list_wrap .footer-cart .back_cart {
  width: 50%;
  flex: 0 0 50%;
}
.cart_wrapper .cart_lists .cart_list_wrap .footer-cart .back_cart a {
  color: #303030;
  vertical-align: middle;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  transition: all 0.3s;
}
.cart_wrapper .cart_lists .cart_list_wrap .footer-cart .back_cart a:hover {
  color: #111;
}
.cart_wrapper .cart_lists .cart_list_wrap .footer-cart .back_cart a:hover span {
  animation: arrow 1.5s infinite ease;
}
.cart_wrapper .cart_lists .cart_list_wrap .footer-cart .back_cart a span {
  vertical-align: sub;
  font-size: 18px;
  margin-right: 5px;
}
@keyframes arrow {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(-2px);
  }
  75% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(0px);
  }
}
.cart_wrapper .cart_lists .cart_list_wrap .footer-cart .subtotal {
  width: calc(50% - 80px);
  flex: 0 0 calc(50% - 50px);
  text-align: right;
  font-size: 16px;
}
@media (max-width: 767px) {
  .cart_wrapper .cart_lists .cart_list_wrap .footer-cart .subtotal {
    width: 50%;
    flex: 0 0 50%;
  }
}
.cart_wrapper .cart_lists .cart_list_wrap .footer-cart .subtotal label {
  margin-right: 15px;
}
.cart_wrapper .cart_details {
  background: linear-gradient(45deg, #303030, #4b4643);
  padding: 30px 40px;
  width: 330px;
  flex: 0 0 330px;
  box-shadow: -8px 0px 32px rgba(0, 0, 0, 0.36);
  position: relative;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .cart_wrapper .cart_details {
    width: 100%;
    flex: 0 0 100%;
  }
}
@media (max-width: 767px) {
  .cart_wrapper .cart_details {
    width: 100%;
    flex: 0 0 100%;
    padding: 30px;
  }
}
.cart_wrapper .cart_details .cart_title {
  font-size: 22px;
  color: #f1c40f;
  font-weight: 400;
  margin-bottom: 60px;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .cart_wrapper .cart_details .cart_title {
    margin-bottom: 40px;
  }
}
.cart_wrapper .cart_details .form_row {
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .cart_wrapper .cart_details .form_row {
    margin-bottom: 40px;
  }
}
.cart_wrapper .cart_details .form_row .form_group {
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
  margin-bottom: 35px;
  padding: 0px 10px;
  width: 100%;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .cart_wrapper .cart_details .form_row .form_group:nth-child(2) {
    width: 50%;
  }
  .cart_wrapper .cart_details .form_row .form_group:nth-child(3) {
    width: 30% !important;
    flex: 0 0 30% !important;
  }
  .cart_wrapper .cart_details .form_row .form_group:nth-child(4) {
    width: 20% !important;
    flex: 0 0 20% !important;
  }
}
.cart_wrapper .cart_details .form_row .form_group.w_75 {
  width: 65%;
  flex: 0 0 65%;
}
.cart_wrapper .cart_details .form_row .form_group.w_25 {
  width: 35%;
  flex: 0 0 35%;
}
.cart_wrapper .cart_details .form_row .form_group .input_label {
  color: #f3f3f3;
  font-weight: 300;
  font-size: 16pxx;
  width: 100%;
  flex: 0 0 100%;
  letter-spacing: 0.5px;
}
.cart_wrapper .cart_details .form_row .form_group .input {
  width: 100%;
  flex: 0 0 100%;
  background-color: transparent;
  border: none;
  outline: none;
  color: #eee;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.5px;
  border-bottom: solid 2px #999;
  height: 32px;
  transition: all 0.3s linear;
}
.cart_wrapper .cart_details .form_row .form_group .input::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.1);
  transition: all 0.2s linear;
}
.cart_wrapper .cart_details .form_row .form_group .input:focus::placeholder {
  opacity: 0;
}
.cart_wrapper .cart_details .form_row .form_group.cart_type {
  justify-content: space-between;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .cart_wrapper .cart_details .form_row .form_group.cart_type {
    justify-content: left;
  }
}
.cart_wrapper .cart_details .form_row .form_group.cart_type .type {
  width: calc(100% / 3 - 15px);
  padding: 0px;
  margin-top: 5px;
  cursor: pointer;
  transition: all 0.3s linear;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .cart_wrapper .cart_details .form_row .form_group.cart_type .type {
    width: 75px;
  }
}
.cart_wrapper .cart_details .form_row .form_group.cart_type .type:hover svg {
  fill: #bbb;
}
.cart_wrapper .cart_details .form_row .form_group.cart_type .type svg {
  width: 42px;
  fill: #7f7a76;
  transition: all 0.3s linear;
}
.cart_wrapper .cart_details .form_row .form_group.cart_type .type.paypal svg {
  width: 62px;
  margin-top: -10px;
}
.cart_wrapper .cart_details .form_row .form_group.cart_type input {
  display: none;
}
.cart_wrapper
  .cart_details
  .form_row
  .form_group.cart_type
  input#master:checked
  ~ .master
  svg {
  fill: #f4f4f4;
}
.cart_wrapper
  .cart_details
  .form_row
  .form_group.cart_type
  input#visa:checked
  ~ .visa
  svg {
  fill: #f4f4f4;
}
.cart_wrapper
  .cart_details
  .form_row
  .form_group.cart_type
  input#paypal:checked
  ~ .paypal
  svg {
  fill: #f4f4f4;
}
.cart_wrapper .cart_details .form_row .btn {
  width: calc(100%);
  height: 65px;
  margin: 0px -40px;
  background-color: #f1c40f;
  border: none;
  color: #333;
  font-size: 15px;
  font-weight: 400;
  position: absolute;
  bottom: 0px;
  transition: all 0.3s linear;
}
@media (max-width: 767px) {
  .cart_wrapper .cart_details .form_row .btn {
    position: static;
    margin: auto;
  }
}
.cart_wrapper .cart_details .form_row .btn:hover {
  background-color: #dfb50d;
}
.cart_wrapper .cart_details .form_row .btn:active {
  box-shadow: inset 0 0 28px 0px rgba(0, 0, 0, 0.3);
}

.total-amount {
  float: right;
  font-size: 14px;
}

.btn {
  display: inline-block;
  height: 48px;
  margin-left: 0px;
  width: 220px;
  margin-top: 10px;
  display: block;
}

.right ul li {
  font-size: 15px;
  font-weight: 400;
  color: #333;
  margin-bottom: 12px;
}

.right ul li.last {
  padding-top: 12px;
  border-top: 1px solid #c8c8c8;
  color: #333;
  font-size: 15px;
  font-weight: 400;
}

.right ul li span {
  display: inline-block;
  float: right;
}

.right .button5 .btn {
  text-align: center;
  border-radius: 0;
  width: 100%;
  margin-top: 10px;
  height: 46px;
  line-height: 18px;
  font-size: 13px;
  color: #fff;
}

/* .coupon-input input{
  bo
} */

.btn-2 {
  margin: 10px 3px;
  border: none;
  color: white;
  /* width: 180px;
  height: 60px; */
  font-size: 18px;
  border-radius: 2px;
  color: #fff;
  letter-spacing: 3px;
  font-family: "Roboto", sans-serif;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.success-2 {
  background: #6fb065;
}

.button {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  display: inline-block;
  /* color: #fff; */
  border-radius: 0.25em;
  text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.4);
}
